@font-face {
  font-family: "iconfont"; /* Project id 2964338 */
  src: url('iconfont.woff2?t=1637809377309') format('woff2'),
       url('iconfont.woff?t=1637809377309') format('woff'),
       url('iconfont.ttf?t=1637809377309') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-gengduo:before {
  content: "\e623";
}

.icon-youjiantou:before {
  content: "\e624";
}

.icon-gengduo1:before {
  content: "\e66a";
}

.icon-zelvxingshianjian:before {
  content: "\e664";
}

.icon-maodunjiufen:before {
  content: "\e66b";
}

.icon-hunyinchaxun:before {
  content: "\e605";
}

.icon-car-collision:before {
  content: "\e9c7";
}

